# name: Test
# 
# on:
#   push:
#     branches:
#       - main
# 
# jobs:
#   test:
#     runs-on: ubuntu-latest
#     strategy:
#       matrix:
#         go-version: ['1.19', '1.20', '1.21.x']
# 
#     steps:
#       - name: Install go
#         uses: actions/setup-go@v2
#         with:
#           go-version: ${{ matrix.go-version }}
# 
#       - name: Install Dependencies
#         run: go mod tidy
# 
#       - uses: actions/checkout@v2
#       - name: Test
#         run: go test ./...

name: Upload Go test results

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.19', '1.20', '1.21.x' ]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Test with Go
        run: go test ./...
      - name: Upload Go test results
        uses: actions/upload-artifact@v4
        with:
          name: Go-results-${{ matrix.go-version }}
          path: TestResults-${{ matrix.go-version }}.json

